@charset "UTF-8";
@font-face {
  font-family: 'Poppins';
  src: url("./assets/fonts/Poppins-Regular.ttf"); }
@font-face {
  font-family: 'Open Sans';
  src: url("./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Open Sans";
  font-size: 16px; }

/* 360 x 640 (small mobile) */
body {
  height: 100vh;
  background: url("./assets/images/bg-mobile.svg") no-repeat;
  background-color: rgba(103, 75, 175, 0.9);
  display: flex;
  flex-direction: column; }

main {
  width: 75vw;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column; }
  main .main__header img {
    width: 33vw; }
  main .main__body {
    display: flex;
    flex-direction: column;
    margin: auto; }
    main .main__body div {
      width: 100%;
      height: 50%; }
  main .main__body__image img {
    width: 100%; }
  main .main__body__text {
    color: white;
    text-align: center; }
    main .main__body__text h1 {
      margin-top: 1vh;
      font-family: "Poppins";
      font-size: 1.4rem;
      line-height: 1.3; }
    main .main__body__text p {
      font-family: "Open Sans";
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.5;
      margin-top: 2.5vh; }
    main .main__body__text button {
      width: 50vw;
      border-radius: 30px;
      height: 4.5vh;
      font-size: 0.7rem;
      margin-top: 3vh;
      color: rgba(103, 75, 175, 0.9);
      border: none;
      outline: none;
      cursor: pointer; }
    main .main__body__text button:hover {
      color: white;
      background-color: #e882e8; }
  main .social__medias {
    margin-top: 5vh;
    display: flex;
    gap: 3vw;
    justify-content: center; }
    main .social__medias a {
      text-decoration: none; }
      main .social__medias a span {
        font-size: 0.7rem;
        color: white;
        padding: 0.5em;
        border-radius: 50%;
        border: 1px solid white; }
      main .social__medias a span:hover {
        color: #e882e8;
        border-color: #e882e8; }

.attribution {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 1.5vh;
  display: none; }

.attribution a {
  color: #e882e8;
  font-weight: bold;
  text-decoration: none; }

/* 720 x 1280 (large mobile) */
@media screen and (min-width: 720px) {
  body {
    background-size: contain; }

  main .main__body__text h1 {
    margin-top: 2.5vh;
    font-size: 2.6rem; }
  main .main__body__text p {
    font-size: 1.6rem; }
  main .main__body__text button {
    font-size: 1.5rem;
    margin-top: 5vh; }
  main .social__medias {
    margin-top: 1vh; }
    main .social__medias a span {
      font-size: 1.5rem; }

  .attribution {
    display: block; } }
/* Mobiles in landscape position  */
@media screen and (orientation: landscape) and (max-width: 667px) {
  body {
    background-size: cover; }

  main {
    width: 90vw;
    height: 85vh; }
    main .main__header img {
      width: 15vw; }
    main .main__body {
      flex-direction: row; }
      main .main__body div {
        width: 50%;
        height: 100%; }
    main .main__body__text {
      text-align: left;
      padding: 4vh 0 0 4vw; }
      main .main__body__text h1 {
        font-size: 1.2rem; }
      main .main__body__text p {
        font-size: 0.7rem; }
      main .main__body__text button {
        width: 18vw;
        height: 6vh; }
    main .social__medias {
      gap: 2vw;
      justify-content: end; } }
@media screen and (orientation: landscape) and (min-width: 767px) and (max-width: 1280px) {
  body {
    background: url("./assets/images/bg-desktop.svg") no-repeat;
    background-color: rgba(103, 75, 175, 0.9);
    background-size: cover; }

  main {
    width: 90vw;
    height: 85vh; }
    main .main__header img {
      width: 15vw; }
    main .main__body {
      flex-direction: row; }
      main .main__body div {
        width: 50%;
        height: 100%; }
    main .main__body__text {
      text-align: left;
      padding: 2vh 0 0 4vw; }
      main .main__body__text h1 {
        font-size: 2rem; }
      main .main__body__text p {
        font-size: 1.2rem; }
      main .main__body__text button {
        width: 18vw;
        height: 6vh;
        font-size: 1.1rem; }
    main .social__medias {
      gap: 2vw;
      justify-content: end; } }
/* 1366 × 768 (medium laptop) */
@media screen and (min-width: 1366px) {
  body {
    background: url("./assets/images/bg-desktop.svg") no-repeat;
    background-color: rgba(103, 75, 175, 0.9); }

  main {
    width: 85vw;
    height: 80vh; }
    main .main__header img {
      width: 15vw; }
    main .main__body {
      flex-direction: row; }
      main .main__body div {
        width: 50%;
        height: 100%; }
    main .main__body__text {
      text-align: left;
      padding: 1.5vh 0 0 4vw; }
      main .main__body__text h1 {
        font-size: 2.5rem; }
      main .main__body__text p {
        font-size: 1.2rem; }
      main .main__body__text button {
        width: 15vw;
        height: 6vh;
        font-size: 1.1rem;
        margin-top: 3vh; }
    main .social__medias {
      margin-top: 1vh;
      gap: 1vw;
      justify-content: end; }
      main .social__medias a span {
        font-size: 1.2rem; } }
/* 1440 × 900 (medium desktop) */
@media screen and (min-width: 1440px) {
  body {
    background-size: cover; }

  main .social__medias a span {
    font-size: 1.4rem; } }
/* 1920 × 1080 (large desktop) */
@media screen and (min-width: 1920px) {
  main .main__body__text h1 {
    font-size: 3rem; }
  main .main__body__text p {
    font-size: 1.5rem; }
  main .main__body__text button {
    font-size: 1.4rem; }
  main .social__medias a span {
    font-size: 1.5rem; } }
/* Desktops in portrait position  */
@media screen and (orientation: portrait) and (min-width: 1080px) {
  main .main__body__text h1 {
    font-size: 4rem; }
  main .main__body__text p {
    font-size: 2.5rem; }
  main .main__body__text button {
    font-size: 2.5rem; }
  main .social__medias a span {
    font-size: 2.4rem; }

  .attribution {
    font-size: 25px; } }

/*# sourceMappingURL=styles.css.map */
